.header-welcome {
  text-align: center;
  margin-top: 90px;

  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-welcome h1 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 25px;
}
.header-welcome p {
  width: 60%;
  opacity: 0.6;
}

.login-form {
  display: flex;
  flex-direction: column;

  margin: 0px 20px;
}
.login-form--input {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: none;
  border-bottom: 1px rgb(0, 0, 0, 0.2) solid;
  font-size: 18px;
}
.login-form input:nth-child(4) {
  margin-top: 15px;
  margin-bottom: 20px;
}
.login-form--input:focus {
  border-bottom: 1px violet solid;
  transition: border 0.5s ease-in-out;
}
/* .login-form input:nth-child(3),
.login-form input:nth-child(4) {
  height: 45px;
  border: none;
  font-size: 18px;
} */
.login-form--submit {
  height: 45px;
  border: none;
  font-size: 18px;
}
.login-form--submit:hover {
  border: violet solid 1px;
}
.login-form a {
  text-align: center;
  text-decoration: none;
}
.login-form a:visited {
  color: inherit;
}
